@media only screen and (max-width: 992px) {
    .header {background: fuchsia;}
    border: 1px solid black;
}
@media only screen and (min-width 768px; max-width: 991px) {
    .header {background: purple;}
    border: 1px solid black;
}
@media only screen and (min-width: 767px) {
    .header {background: green;}
    border: 1px solid black;
}
h1 { 
    text-align: center;
}
section, p {
    background-color: cyan;
}
section {
    text-align: right;       
}
.header, p {
    display: inline-block;
}
